.header {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0px 50px;
  height: 80px;
  max-width: 100vw;
}

.header__content {
  width: 100%;
  max-width: 1144px;
}

.header__img {
  height: 50px;
  width: auto;
}
