.project__list__container {
  display: grid;
  justify-items: center;
}

.project__list__container > h1 {
  color: white;
}

.project__list {
  display: grid;
  max-width: 1140px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .project__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
