.skills__container {
  display: grid;
  height: auto;
  justify-items: center;
}

.skills__content {
  width: 100%;
  max-width: 1140px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px 0px;
  text-align: center;
}

.skills__content h1 {
  margin-top: 0;
}

.skills__carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 30px;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
}

.skills__carousel:hover .skills__carousel__item {
  opacity: 0.3;
}

.skills__carousel:hover .skills__carousel__item:hover {
  -webkit-transform: scale(1.25) translateX(-10%);
  transform: scale(1.5) translateX(-10%);
  opacity: 1;
  position: relative;
}

.skills__carousel__item {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 130px;
  height: auto;
  max-height: 100px;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
